@tailwind base;
@tailwind components;
@tailwind utilities;

.desktop-container {
  @apply max-w-[1400px] px-[30px] mx-auto;
}

/* Styles for news details body (removed by default due to tailwind preflight) */

.story-body table,
.story-body table th,
.story-body table td {
  border: 1px solid gray;
}

.story-body ul {
  list-style: disc inside;
}

.story-body ol {
  list-style: decimal inside;
}

/* wihtout '!important' news body iframes overflows */
iframe {
  width: 100% !important;
}

.slick-dots ul .slick-active {
  position: relative;
}
.slick-dots ul li {
  cursor: pointer;
}
.slick-dots ul .slick-active::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  bottom: -1px;
  left: -1px;
  background: #eb1923;
  border-radius: 100%;
}
