@tailwind base;
@tailwind components;
@tailwind utilities;

.desktop-container {
  @apply max-w-[1400px] px-[30px] mx-auto;
}

/* Styles for news details body (removed by default due to tailwind preflight) */

.story-body table,
.story-body table th,
.story-body table td {
  border: 1px solid gray;
}

.story-body ul {
  list-style: disc inside;
}

.story-body ol {
  list-style: decimal inside;
}

/* wihtout '!important' news body iframes overflows */
iframe {
  width: 100% !important;
}


.slick-slider .slick-track {
  display: flex;
  justify-content: space-between!important;

}

.slick-slider .slick-slide {
margin-left: 12px;
}
.slick-slider .slick-slide:first-child{
   margin-left: 0px!important
}
.slick-slider .slick-slide:last-child{
margin-left: 0px!important;
}
