@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for news details body (removed by default due to tailwind preflight) */

.story-body table,
.story-body table th,
.story-body table td {
  border: 1px solid gray;
}

.story-body ul {
  list-style: disc inside;
}

.story-body ol {
  list-style: decimal inside;
}

/* wihtout '!important' news body iframes overflows */
iframe {
  width: 100% !important;
  max-height: 400px !important;
}

/* Slick Slider  */
@media (min-width: 450px) and (max-width: 1600.99px) {
  .slick-slider .slick-track {
    display: flex;
    justify-content: space-between !important;
  }
}
@media (min-width: 450px) and (max-width: 1600.99px) {
  .slick-slider .slick-slide {
    margin-right: 16px;
  }
}

@media (min-width: 450px) and (max-width: 1600.99px) {
  .slick-slider .slick-slide:first-child {
    margin-right: 0px !important;
  }
}
@media (min-width: 450px) and (max-width: 1600.99px) {
  .slick-slider .slick-slide:last-child {
    margin-right: 0px !important;
  }
}
