@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

#root {
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
}
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
}

.tox .tox-statusbar__branding svg {
  display: none;
}
