@tailwind base;
@tailwind components;
@tailwind utilities;

/* override some css done in the theme */
.post-number li a::before {
  width: unset !important;
  margin-right: 1rem !important;
}

.detail p {
  text-align: left !important;
  line-height: 1.7rem !important;
  padding-bottom: 1rem;
}

@media (min-width: 700px) and (min-width: 1270px) {
  .md-container {
    max-width: 90% !important;
  }
}

.img-size {
  height: 90px;
  width: 160px;
}
